/* Mobile */
@media screen and (min-width: 576px) {
  /* Header */
  header {
    font-weight: 500;
    font-size: 1.2em;
  }

  header nav ul {
    text-align: center;
  }

  header nav li {
    display: inline-block;
    margin: 5px 5px;
  }

  /* Elementi Del Main Article */
  h1 {
    font-size: 3.5em;
    line-height: 1.2em;
  }

  h2 {
    font-weight: bold;
  }

  p,
  address,
  ul,
  ol,
  dl,
  blockquote,
  h2,
  a {
    font-size: 1.35em;
  }

  main img {
    width: 4.8em;
    border: 4px solid #01a0c6;
    outline: 4px solid #a12572;
    padding: 3px;
  }

  /* Tabella */
  caption {
    font-size: 1.2em;
  }

  th {
    font-size: 1.4em;
  }

  /* Section */
  section h2 {
    background-color: #a3a3a3;
    font-size: 1.5em;
    padding: 2px;
  }

  /* Aside */
  aside h2 {
    font-size: 2em;
  }

  /* Footer */
  footer p {
    font-size: 1.8em;
    margin: 10px;
    margin-bottom: 20px;
  }

  footer address {
    font-size: 1.9em;
    margin-top: 10px;
  }

  footer a {
    font-size: 0.9em;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  /* Header */
  header {
    font-weight: 500;
    font-size: 1.2em;
  }

  header nav ul {
    text-align: center;
  }

  header nav li {
    display: inline-block;
    margin: 5px 5px;
    font-size: 0.7em;
  }

  /* Elementi Del Main Article */
  h1 {
    font-size: 4.25em;
    line-height: 1.2em;
  }

  p,
  address,
  ul,
  ol,
  dl,
  blockquote,
  h2 {
    font-size: 1.4em;
  }

  h2 {
    font-weight: bold;
  }

  /* Tabella */
  table {
    margin: 5em auto;
  }

  caption {
    font-size: 1.1em;
  }

  /* Article */
  article a {
    font-size: 1em;
  }

  /* Aside */
  aside a {
    font-size: 1.15em;
  }

  /* Footer */
  footer address {
    font-size: 1.7em;
    margin-top: 10px;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
  }

  header div,
  nav {
    display: inline-flex;
    align-items: center;
  }

  header div img,
  p {
    margin: 0;
  }

  header nav ul {
    font-size: 1em;
    margin-right: 2em;
  }

  /* Main */
  main {
    padding: 1em 2em;
  }

  h1 {
    font-size: 4.22em;
  }

  main img {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  p,
  address,
  ul,
  ol,
  dl,
  blockquote,
  h2 {
    font-size: 1.4em;
    line-height: 2em;
  }

  /* Tabella */
  caption {
    font-size: 1em;
  }

  th {
    font-size: 1em;
    padding: 1em;
    padding-left: 7em;
    padding-right: 7em;
  }

  /* Aside */
  aside {
    width: 100%;
  }

  aside div {
    display: inline-block;
    width: 33%;
    max-width: 400px;
  }
}
